/* ======= CUSTOMER LIST VIEW STYLES ======== */

main {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.page-heading {
    margin: 0 0 40px 0;
}

.page-list-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-head p {
    width: 200px;
    font-size: 1.2em;
    font-weight: 900;
}

.list-actual-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.list-actual-display p {
    font-size: 1.1em;
}

.actual1, .actual2, .actual3 {
    width: 200px;
}

.details-link {
    color: #006AFF;
}

.details-link:hover {
    color: #005AD9;
}

button {
    border-radius: 3px;
    border: 1px solid #005AFF;
    padding: 10px;
    width: 11rem;
    background-color: #005AFF;
    font-size: 1.1em;
    margin-top: 15px;
  }

  button a {
    color: white;
  }
  
  .page-heading button:hover {
    background-color: #005AD9;
  }


/* ======= CUSTOMER DETAIL VIEW STYLES ======== */




.back-link {
    color: #006AFF;
    font-size: 1.2em;
    font-weight: 400;
}

.back-link:hover {
    color: #005AD9;
}


.p-detail-heading {
    font-size: 1.2em;
    line-height: 1.5em;
}

span {
    font-weight: 900;
}

.delete-btn {
    border-radius: 3px;
    border: 2px solid #ed2e2e;
    padding: 10px;
    width: 11rem;
    background-color: #ff00002e;
    font-size: 1.1em;
    font-weight: 900;
    margin-top: 15px;
    color: rgb(0, 0, 0);
  }