body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}


nav {
  padding: 1rem;
  border: 1px solid black;
}

.signupPage {
  padding-top: 1rem;
}