<br>
<h1>Customers List</h1>


{{#if currentUser}}
<button><a href="/customers/create">Add New Customer</a></button>

<br><br>
<hr>

<br>
{{#each customers}}
    <div class="customerBox">
        <h4> {{firstName}} {{lastName}} </h4>
        <h5> <a href="/customers/{{_id}}">See customer details</a></h5>
        <p>...</p>
    </div>
{{/each}}
{{/if}}