<h1>Add A New Customer</h1>

{{#if currentUser}}

<form action="/customers/create" method="POST">
   <label> First Name: <br>
      <input type="text" name="firstName">
   </label>

   <br><br>

   <label> Last Name: <br>
      <input type="text" name="lastName">
   </label>

   <br><br>

   <label> Email: <br>
      <input type="text" name="email">
   </label>

   <br><br>

   <label> Address: <br>
      <input type="text" name="address">
   </label>

   <br><br>

   <label> Apt Number: <br>
      <input type="text" name="apartmentNumber">
   </label>

   <br><br>

   <label> City: <br>
      <input type="text" name="city">
   </label>

   <br><br>

   <label> State: <br>
      <input type="text" name="state">
   </label>

   <br><br>

   <label> Zip Code: <br>
      <input type="number" name="zip">
   </label>

   <br><br>

   <button type="submit">Create</button>
</form>

{{/if}}