<div class="hero-section-1">

    <div class="heroText-section-1">
        
        <h1 class="title">Power your business with Shopbox.</h1>
        <p>Millions of brands of all sizes trust Shopbox to accept payments, build customer relationships, and grow their business in-store and online.</p>
        <div class="button" > <a href="/auth/signup">Get Started</a> </div>
    </div>

    <div class="heroImg-section-1-container">

        <div class="heroImg-section-1">
            {{!-- <img src="/public/images/tim-mossholder-sxb8StmTfaw-unsplash.jpg" alt="image"> --}}
        </div>
        
    </div>

</div>