
<h3>Change your password</h3>
<h4>Email: {{user.email}}</h4>

<form action="/auth/change-password" method="post">

<div class="pass-input">
    <label for="">
        Old Password <br>
        <input type="password" name="oldpass">
    </label>
</div>

<br>

<div class="pass-input">
    <label for="">
        New Password <br>
        <input type="password" name="newpass">
    </label>
</div>

<br>

<div class="pass-input">
    <label for="">
        Confirm New Password <br>
        <input type="password" name="confirmnewpass">
    </label>
</div>

<br>

<button>Submit</button>
</form>
