
<div class="loginPage">

<h1>Login</h1>
<br>
<form action="/auth/login" method="POST">
   <label>  <br>
      <input type="text" name="email" placeholder="Email">
   </label>

   <br><br>

   <label>  <br>
      <input type="password" name="password" placeholder="Password">
   </label>

   <br><br>

   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}

</div>
