<h1>Login</h1>
<br>
<form action="/auth/login" method="POST">
   <label> Email <br>
      <input type="text" name="email">
   </label>

   <br><br>

   <label> Password <br>
      <input type="password" name="password">
   </label>

   <br><br>

   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}