<h1>Profile</h1>

<h3>{{user.firstName}} {{user.lastName}}</h3>
<h3>Your email: {{user.email}} </h3>
<h3>Admin? {{user.admin}} </h3>


{{!-- THIS FEATURE HAS BEEN SHELVED FOR NOW --}}
{{!-- <h3>  --}}
    {{!-- <a href="/auth/change-password">Change Password</a>
</h3> --}}