<h1>Create Account</h1>

<div class="signupPage">
   <form action="/auth/signup" method="POST">

   <label> First Name: <br>
      <input type="text" name="firstName">
   </label>

   <br><br>

   <label> Last Name: <br>
      <input type="text" name="lastName">
   </label>

   <br><br>

   <label> Email: <br>
      <input type="text" name="email">
   </label>

   <br><br>

   <label> Password: <br>
      <input type="password" name="password">
   </label>

   <br><br>

   <label>
      <input type="checkbox" value="true" name="admin">Admin <br>
   </label>

   <br><br>

   <button type="submit">Submit</button>

</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}
</div>

