<h1>Create a Movie</h1>


<form action="/movies/createMovie" method="POST">
   <label> Title: <br>
      <input type="text" name="title">
   </label>

   <br><br>

   <label> Director: <br>
      <input type="text" name="author">
   </label>

   <br><br>

   <label> Runtime: <br>
      <input type="text" name="pages">
   </label>

   <br><br>

   <label> Price: <br>
      <input type="text" name="price">
   </label>

   <br><br>

   <label> Genre: <br>
      <input type="text" name="genre">
   </label>

   <br><br>

   <label> Inventory: <br>
      <input type="text" name="inventory">
   </label>

   <br><br>

   <button type="submit">Create</button>
</form>